<!--
This file is distributed under the terms of the GNU General Public License.
For complete license information, please see license.txt in the root directory.
-->

<!-- [Admin notice] -->
<table cellpadding="3" cellspacing="1" border="0" width="95%" class="maintable" id="admin_notice_do_not_adblock">
    <tr>
        <td valign="top" class="cat">
            <table cellpadding="2" cellspacing="0" border="0" width="100%">
                <tr>
                    <td width="32" align="center" valign="top">
                        <img alt="Error!" src="/images/icons/Error.png"/>
                    </td>
                    <td align="left" valign="top">
                        <h4>Administrator notice:</h4>
                        While we at Fur Affinity feel that fighting online piracy is important, the heavy-handed SOPA and PIPA bills proposed by the US Congress would have a chilling effect on our ability to conduct business.<br />

                        <a href='https://www.google.com/landing/takeaction/sopa-pipa/'>Learn more about SOPA and PIPA.</a><br />

                        If you live in the US, please contact your <a href='http://www.senate.gov/general/contact_information/senators_cfm.cfm'>senators</a> and <a href='http://house.gov/htbin/findrep'>representative</a> and ask them to vote these bills down. The bill numbers are H.R. 3261 and S. 968.<br />

                        If you live outside the US, please spread the word to your US-based friends and family. If you use sites with US-based domain names or US-based search engines, then these bills will affect you, too.<br />

                        <small>Press Ctrl+F5 to see the protest banner, if you can't already see it.</small>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!-- [/Admin notice] -->
